@charset "ISO-8859-1";
#LineChartContainer {
	min-width: 310px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}
#pieChartContainer{
	height: 400px
}
#columnChartContainer{
	height: 400px; 
    min-width: 310px; 
    max-width: 800px;
    margin: 0 auto;
}